<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head th:replace="fragments/header :: header-css"/>	       
		</head>
	<body>		
		<div th:replace="fragments/header :: header" ></div>		
		<div class="container">
		     
		     
		     <div class ="col-lg-12">
		     	<div class = "row">
		     	
			     	<div class = "col-lg-10 col-lg-offset-1" >
				     	<div class="panel panel-default"> 
						  <div class="panel-heading"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
						  <div class="panel-body">
						    <form autocomplete="off" action="#" th:action="@{/users/edit}" th:object="${user}" method="post"   role="form">
								 <input type="hidden"   th:field="*{id}"  >
							 	 <input type="hidden" th:field="*{password}"  >
							 	 
							 	 <div class = "col-lg-12">							 	 	 
							 	 	<div class="alert alert-success"  th:if="${successMessage}"  role="alert"> <strong>Success</strong> registered user success </div>
							 	 </div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label  for="username" >ชื่อผู้ใช้</label>									  					  
										     
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										  	 								  					  
										    <input type="text" class="form-control" th:field="*{username}"  placeholder="ชื่อผู้ใช้">
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 
								  			<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		 
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="gender">เพศ</label> 							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										    <select class="form-control" th:field="*{gender}">
										    	<option value = "" >เพศ</option>
										    	<option value = "ชาย" >ชาย</option>
										    	<option value = "หญิง" >หญิง</option>										    	
										    </select>
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="name">ชื่อ</label>								  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										    <input type="text" class="form-control"  th:field="*{name}"  placeholder="ชื่อ">
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		 
							 	  <div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="last_name">นามสกุล</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										    <input type="text" class="form-control"  th:field="*{lastName}"  placeholder="นามสกุล">
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		 <div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="nickname">ชื่อเล่น</label>						  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										   <input type="text" class="form-control"th:field="*{nickName}" placeholder="ชื่อเล่น">
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">รหัสพนักงาน</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{code}"  placeholder="รหัสพนักงาน">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">ชื่อ นามสกุล ภาษาอังกฤษ</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{nameEnglish}"  placeholder="ชื่อ นามสกุล ภาษาอังกฤษ">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('nameEnglish')}" th:errors="*{nameEnglish}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">ที่อยู่</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<textarea  rows = "6" class="form-control" th:field="*{address}"  placeholder="ที่อยู่"></textarea>
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
							   <div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">Email</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{email}"  placeholder="email">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		 <div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">รหัสบัตรประชาชน</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{cardId}"  placeholder="รหัสบัตรประชาชน">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('cardId')}" th:errors="*{cardId}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 	 
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">วันเกิดบนบัตรประชาชน</label>		
										  					  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker"  th:field="*{birthdayCard}"  th:placeholder="#{form.example.date}">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('birthdayCard')}" th:errors="*{birthdayCard}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">วันเกิดจริง</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker" th:field="*{birthdayBorn}"  th:placeholder="#{form.example.date}">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('birthdayBorn')}" th:errors="*{birthdayBorn}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">เลขที่บัญชี</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{bookbankNo}"  placeholder="เลขที่บัญชี">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('bookbankNo')}" th:errors="*{bookbankNo}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">สาขา</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{bookbankBranch}"  placeholder="สาขา">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('bookbankBranch')}" th:errors="*{bookbankBranch}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">เบอร์โทรศัพท์ ส่วนตัว</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{telephonePrivate}"  placeholder="เบอร์โทรศัพท์ ส่วนตัว">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('telephonePrivate')}" th:errors="*{telephonePrivate}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">เบอร์โทรศัพท์ office</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{telephoneCompany}"  placeholder="เบอร์โทรศัพท์ office">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('telephoneCompany')}" th:errors="*{telephoneCompany}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">แนะนำโดย</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control" th:field="*{recruitmentSource}"  placeholder="แนะนำโดย">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('recruitmentSource')}" th:errors="*{recruitmentSource}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">วันเริ่มต้นการทำงาน</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker" th:field="*{startDate}"   th:placeholder="#{form.example.date}">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">Probation รอบ 45 วัน</label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker" th:field="*{prodateMid}"  th:placeholder="#{form.example.date}">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('prodateMid')}" th:errors="*{prodateMid}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">Probation รอบ 90 วัน </label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker" th:field="*{prodateEnd}"  th:placeholder="#{form.example.date}" >
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('prodateEnd')}" th:errors="*{prodateEnd}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="code">วันสิ้นสุด Probation </label>							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
						 					<input type="text" class="form-control datetimepicker" th:field="*{prodateFinal}" th:placeholder="#{form.example.date}">
										 </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('prodateFinal')}" th:errors="*{prodateFinal}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="gender">Location</label> 							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										    <select class ="form-control" th:field="*{location}">	
										    	<option value = "" >Please Select</option>							    
										  		<option th:each="loc : ${location}" th:value="${loc.id}" th:text="${loc.name}" ></option>
										  	</select>
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		<div class = "col-lg-12">
						 			<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="gender">สัญญาจ้าง</label> 							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">	
										    
										    <select class ="form-control" th:field="*{contract}">		
										    	<option value = "" >Please Select</option>						    
										  		<option th:each="con : ${contract}" th:value="${con.id}" th:text="${con.name}" ></option>
										  	</select>
										  </div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('contract')}" th:errors="*{contract}" class="validation-message"></label>
								  		</div>
						 			</div>
						 		</div>
						 		 
							  	 <div class = "col-lg-12">
							  	 	<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="gender">Division</label> 							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class="form-group">											    
										  <select class ="form-control" id = "division-select">	
										  	<option value = "" >Please Select</option>											  		 				    
										  		<option th:each="d : ${division}" th:value="${d.id}" th:text="${d.name}"  th:selected="(${d.id} == *{position.division.id})"  ></option>
										  	</select> 
										  </div>
						 			</div>
						 			<div class = "col-lg-4" > 
								  	 	 
								  	 </div>
							  	 </div>
							  	 
							  	 <div class = "col-lg-12">
							  	 	<div class = "col-lg-3">
						 				<div class="form-group">	
										  	<label for="gender"> Position    </label> 							  									  										  
										  </div>
						 			</div>
						 			<div class = "col-lg-5">
						 				<div class = "form-group"  >
								  	 		<select th:field="*{position}" id = "position-select" class = "form-control"  >
								  	 			<option value ="" >Please Select</option>											  	 		 				    										  		  
										  	</select> 							  	 		 
								  	 	</div>
						 			</div>
						 			<div class = "col-lg-4">
						 				<div class="form-group">	
						 				 <label th:if="${#fields.hasErrors('position')}" th:errors="*{position}" class="validation-message"></label>
								  		</div>
						 			</div>
						 			 
							  	 </div>
							  	 
							  	 <div class = "col-lg-8 center">
								  	<a  th:href = "@{/users}" class="btn btn-info"><i class="fa fa-chevron-left" aria-hidden="true"></i> back </a>
								    <button type = "reset" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> reset </button>
							  		<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> save </button>
								   
							  	</div>
							 	 
							</form>
						  </div>
						</div>
					</div>
					
					 
				</div>
		     </div>
		</div>	
		<div th:replace="fragments/footer :: footer" ></div>	
		<script type = "text/javascript" th:inline="javascript">
			
			
		    
		    
			$(document).ready(function(){
			  	
			 	divisionSelect($("#division-select").val());
				
				$("#division-select").change(function(){
					divisionSelect($(this).val());					
				});
				
				function divisionSelect(id){
					if(id!=''){
						 
				 		var obj = {'id':id};
				 		$.ajax({
					        type: "POST",
					        contentType: "application/json",
					        url: "/users/list_pos_by_div",
					        data: JSON.stringify(obj),
					        dataType: 'json',
					        cache: false,
					        timeout: 600000,
					        success: function (data) {
					        	$("#position-select").children('option:not(:first)').remove();
					            for(var i=0;i<data.length;i++){				            	 
					            	 $("#position-select").append($('<option>', { 
				            	        value: data[i].id,
				            	        text : data[i].name 
				            	    }));
					            }
					            var pos_id = [[${user.position.id}]];
					            if(pos_id!=""){
					            	$("#position-select").val(pos_id);
					            }
					        },
					        error: function (e) {
					            console.log(e);
					        }
					    });
					}
			 	}
			});
		</script>	
	</body>
</html>