<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:fragment="header-css">
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta charset = "UTF-8" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"   />
	<link rel="stylesheet" th:href="@{/css/font-awesome.css}"   />
	<link rel="stylesheet" th:href="@{/css/main.css}"   />	
	<link rel="stylesheet" th:href="@{/plugin/datetimepicker/css/bootstrap-datetimepicker.css}"   />
	
    <script type = "text/javascript" th:src="@{/js/jquery.js}" ></script>   
    <script type = "text/javascript" th:src="@{/js/bootstrap.js}" ></script>   
    <script type = "text/javascript" th:src="@{/plugin/datetimepicker/js/moment.js}" ></script>    
    <script type = "text/javascript" th:src="@{/plugin/datetimepicker/js/bootstrap-datetimepicker.min.js}" ></script>            
    <script type = "text/javascript" th:src="@{/js/main.js}" ></script>  
    
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar  navbar-inverse"> 
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href = "@{/}">LEGACY</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        
			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" 
	          data-toggle="dropdown" 
	          role="button" 
	          aria-haspopup="true" 
	          aria-expanded="false"> <i class="fa fa-user" aria-hidden="true"></i> USER <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a th:href = "@{/users}" > <i class="fa fa-users" aria-hidden="true"></i> List</a></li>
	             <li><a th:href = "@{/permission}" > <i class="fa fa-key" aria-hidden="true"></i> Permission</a></li>
	             
	          </ul>
	        </li>
			<li><a th:href = "@{/times}" > <i class="fa fa-clock-o" aria-hidden="true"></i> Time </a> </li>
			<li><a th:href = "@{/leaves}" > <i class="fa fa-bed" aria-hidden="true"></i>  Leave </a> </li>        
			<li><a th:href = "@{/gifs}" > <i class="fa fa-gift" aria-hidden="true"></i> Gif </a> </li>
			<li><a th:href = "@{/forms}" > <i class="fa fa-file-text-o" aria-hidden="true"></i> Form </a> </li>  
	     
	         
	      </ul>
	       
          
	      <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
	        
	         <li class="dropdown">
	          <a href="#" class="dropdown-toggle" 
	          	data-toggle="dropdown" 
	          	role="button" 
	          	aria-haspopup="true" 
	          	aria-expanded="false"> <span sec:authentication="name"></span> | 
	       		<span sec:authentication="principal.authorities"></span> 
	          	<span class="caret"></span></a>
	          	<ul class="dropdown-menu">
	            	<li><a href="#">Profile</a></li>	            
	            	<li role="separator" class="divider"></li>
	            	<li><a th:href="@{/logout}" >Log out</a></li>
	          	</ul>
	        </li>
	        
	      </ul>
	        
	      <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
	        <li><a th:href = "@{/login}"> Login <span class="glyphicon glyphicon-user" aria-hidden="true"></span> </a></li>
	        	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>

</body>
</html>