<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head th:replace="fragments/header :: header-css"/>	       
		</head>
	<body>		
		<div th:replace="fragments/header :: header" ></div>
		
		 <main>

			<!-- Breadcrumbs -->
			<div class="b-crumbs-wrap">
				<div class="cont b-crumbs">
					<ul>
						<li>
							<a th:href = "@{/}">Motor</a>
						</li>
						<!-- <li>
							<span>Blog</span>
						</li> -->
					</ul>
					 
				</div>
			</div>
			
			<div class="cont maincont">
				<h1><span>Home</span></h1>
				<span class="maincont-line1 maincont-line12"></span>
				<span class="maincont-line2 maincont-line22 blog-line"></span>
			
				<!-- Blog Sections -->
				<ul class="cont-sections">
					<li class="active">
						<a href="#">All</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="#">Sport</a>
					</li>
					<li>
						<a href="#">Videos</a>
					</li>
					<li>
						<a href="#">Workshop</a>
					</li>
					<li>
						<a href="#">Other</a>
					</li>
				</ul>
			
				<div class="blog blog-full">
					
					<!-- Blog Posts List - start -->
					<div class="blog-cont">
						<div id="blog-grid">
							<div class="blog-grid-i">
							<div class="blog-i">
								<a href="post.html" class="blog-img">
									<img src="http://placehold.it/370x208" alt="">
								</a>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post.html">Standart Post</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-video.html">Post without Photo</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<div class="blog-img">
									<iframe src="https://www.youtube.com/embed/L1bruVSY8LE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
								</div>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-video.html">Video Post 1</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<a href="post-sidebar.html" class="blog-img">
									<img src="http://placehold.it/370x208" alt="">
								</a>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-sidebar.html">Standart Post with Sidebar</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<div class="blog-img">
									<iframe src="https://www.youtube.com/embed/L1bruVSY8LE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
								</div>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-video.html">Video Post 2</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<div class="blog-map-wrap">
									<div class="blog-map" id="blog-map1"></div>
								</div>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-map.html">Post with a Map</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<div class="blog-slider">
									<ul class="slides">
										<li>
											<a href="#">
												<img src="http://placehold.it/385x195" alt="">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="http://placehold.it/195x195" alt="">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="http://placehold.it/190x190" alt="">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="http://placehold.it/203x167" alt="">
											</a>
										</li>
									</ul>
								</div>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-slider.html">Slider Post</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
							<div class="blog-grid-i">
							<div class="blog-i">
								<a href="post-sidebar.html" class="blog-img">
									<img src="http://placehold.it/370x208" alt="">
								</a>
								<p class="blog-info">
									<a href="#">Workshop</a>
									<time datetime="2016-04-07 12:00">03.01.16</time>
								</p>
								<h3><a href="post-sidebar.html">Standart Post</a></h3>
								<p>Duis euismod, enim id fermentum bibendum, nulla risus molestie sem, at tempus nunc leo cursus nunc <a href="#">read more</a></p>
							</div>
							</div>
						</div>
			
						<!-- Pagination -->
						<ul class="pager">
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li class="dots">
								<a href="#">...</a>
							</li>
							<li>
								<a href="#">12</a>
							</li>
						</ul>
					</div>
					<!-- Blog Posts List - end -->
			
				</div>
			</div>
			
			</main>
			<!-- Main Content - end -->

		<div th:replace="fragments/footer :: footer" ></div>		
	</body>
</html>