<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head th:replace="fragments/header :: header-css"/>	       
		</head>
	<body>		
		<div th:replace="fragments/header :: header" ></div>
		
		 <!-- Main Content - start -->
			<main>
			
			<!-- Breadcrumbs -->
			<div class="b-crumbs-wrap">
				<div class="cont b-crumbs">
					<ul>
						<li>
							<a href="index.html">Motor</a>
						</li>
						<li>
							<a href="catalog.html">Catalog</a>
						</li>
						<li>
							<span>Main Parts</span>
						</li>
					</ul>
					<div class="b-crumbs-menu">
						<a id="b-crumbs-menu" href="#"></a>
						<ul class="b-crumbs-menulist">
							<li><a href="catalog.html">Catalog: List Mode</a></li>
							<li><a href="catalog-gallery.html">Catalog: Gallery Mode</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="cont maincont">
			
			<h1><span>Main parts</span></h1>
			<p class="section-count">4535 ITEMS</p>
			<span class="maincont-line1 maincont-line12"></span>
			<span class="maincont-line2 maincont-line22"></span>
			
			<!-- Catalog Sections -->
			<ul class="cont-sections">
				<li class="active">
					<a href="#">All</a>
				</li>
				<li>
					<a href="#">Suspensions</a>
				</li>
				<li>
					<a href="#">Breaks</a>
				</li>
				<li>
					<a href="#">Instruments</a>
				</li>
				<li>
					<a href="#">Filters</a>
				</li>
				<li>
					<a href="#">Boots</a>
				</li>
			</ul>
			
		 
			
			<!-- Catalog Items - start -->
			<div class="section-gallery">
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
				<div class="sectgl">
					<a href="product.html" class="sectgl-link">
						<p class="sectgl-img">
							<img src="http://placehold.it/203x190" alt="">
						</p>
						<h3><span>Suspendisse lobortis</span></h3>
					</a>
					<p class="sectgl-info">
						<a href="#" class="sectgl-categ">Helmets</a>
						<span class="sectgl-price">$290</span>
						<a href="#" class="sectgl-add">+ Add to cart</a>
					</p>
				</div>
			</div>
			<!-- Catalog Items - end -->
			
			<!-- Pagination -->
			<ul class="pager">
				<li>
					<a href="#">1</a>
				</li>
				<li class="dots">
					<a href="#">...</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li class="active">
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li class="dots">
					<a href="#">...</a>
				</li>
				<li>
					<a href="#">12</a>
				</li>
			</ul>
			
			</div>
			
			 
			
			</main>
			<!-- Main Content - end -->

		<div th:replace="fragments/footer :: footer" ></div>		
	</body>
</html>