<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head th:replace="fragments/header :: header-css"/>	       
		</head>
	<body>		
		<div th:replace="fragments/header :: header" ></div>
		
		 <!-- Main Content - start -->
			<main>
			
			<!-- Breadcrumbs -->
			<div class="b-crumbs-wrap">
				<div class="cont b-crumbs">
					<ul>
						<li>
							<a href="index.html">Motor</a>
						</li>
						<li>
							<a href="catalog.html">Catalog</a>
						</li>
						<li>
							<span>Main Parts</span>
						</li>
					</ul>
					<div class="b-crumbs-menu">
						<a id="b-crumbs-menu" href="#"></a>
						<ul class="b-crumbs-menulist">
							<li><a href="catalog.html">Catalog: List Mode</a></li>
							<li><a href="catalog-gallery.html">Catalog: Gallery Mode</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="cont maincont">
			
			<h1><span>Main parts</span></h1>
			<p class="section-count">4535 ITEMS</p>
			<span class="maincont-line1 maincont-line12"></span>
			<span class="maincont-line2 maincont-line22"></span>
			
			 
			
			<!-- Catalog Filter - start -->
			<div class="section-top">
				<a href="#" class="section-menu-btn" id="section-menu-btn">Catalog</a>
				<div class="section-view">
					<p>View</p>
					<div class="dropdown-wrap">
						<p class="dropdown-title section-view-ttl">List</p>
						<ul class="dropdown-list">
							<li class="active">
								<a href="catalog.html">List</a>
							</li>
							<li>
								<a href="catalog-gallery.html">Gallery</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="section-sort">
					<p>Sort</p>
					<div class="dropdown-wrap">
						<p class="dropdown-title section-sort-ttl">Price: highest first</p>
						<ul class="dropdown-list">
							<li class="active">
								<a href="#">Price: highest first</a>
							</li>
							<li>
								<a href="#">Price: lowest first</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="section-prices">
					<div class="dropdown-wrap dropdown-wrap-range">
						<p id="range_cost_ttl" class="dropdown-title section-prices-ttl">$100 - $10000</p>
						<ul class="dropdown-list">
							<li>
								<input type="text" id="range_cost" value="">
							</li>
						</ul>
					</div>
				</div>
				<div class="section-shipping">
					<input checked="checked" type="checkbox" id="section-shipping">
					<label for="section-shipping">Free Shipping</label>
				</div>
				<div class="section-menu-wrap" id="section-menu-wrap">
					<div class="section-menu">
						<p class="section-menu-ttl">Main Parts</p>
						<ul class="section-menu-list">
							<li><a href="#">Engines</a></li>
							<li><a href="#">Brakes & Clutch</a></li>
							<li><a href="#">Handlebars & Grips</a></li>
							<li><a href="#">Chains & Sprockets</a></li>
							<li><a href="#">Electrical</a></li>
							<li><a href="#">Filters</a></li>
							<li><a href="#">Levers</a></li>
							<li><a href="#">Tires</a></li>
						</ul>
					</div>
					<div class="section-menu">
						<p class="section-menu-ttl">Clothing</p>
						<ul class="section-menu-list">
							<li><a href="#">Gloves</a></li>
							<li><a href="#">Goggles</a></li>
							<li><a href="#">Helmets</a></li>
							<li><a href="#">Jackets</a></li>
							<li><a href="#">Pants</a></li>
							<li><a href="#">Casual Wear</a></li>
							<li><a href="#">Protective Gear</a></li>
						</ul>
					</div>
					<div class="section-menu">
						<p class="section-menu-ttl">Brands</p>
						<ul class="section-menu-list">
							<li><a href="#">EdgeDesign</a></li>
							<li><a href="#">Storm</a></li>
							<li><a href="#">BestWorks</a></li>
							<li><a href="#">HarleyStore</a></li>
							<li><a href="#">GoodTires</a></li>
							<li><a href="#">EngineMasters</a></li>
							<li><a href="#">EnMonsters</a></li>
						</ul>
					</div>
					<div class="section-menu">
						<p class="section-menu-ttl">Accessories</p>
						<ul class="section-menu-list">
							<li><a href="#">Battery Chargers</a></li>
							<li><a href="#">Electrical</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="#">Tie Downs</a></li>
						</ul>
					</div>
					<div class="section-menu">
						<p class="section-menu-ttl">Maintenance</p>
						<ul class="section-menu-list">
							<li><a href="#">Repair Instruments</a></li>
							<li><a href="#">Brakes & Clutch Parts</a></li>
							<li><a href="#">Cleaners & Chemicals</a></li>
							<li><a href="#">Spark Plugs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Catalog Filter - end -->
			
			<!-- Catalog Items - start -->
			<div class="section-list">
				<div class="sectls">
					<a href="product.html" class="sectls-img">
						<img src="http://placehold.it/203x190" alt="">
					</a>
					<div class="sectls-cont">
						<div class="sectls-ttl-wrap">
							<p><a href="#">Helmets</a></p>
							<h3><a href="product.html">Quisque rutrum nunc eget nisl auctor</a></h3>
						</div>
						<div class="sectls-price-wrap">
							<p>Price</p>
							<p class="sectls-price">$200</p>
						</div>
						<div class="sectls-qnt-wrap">
							<p>Quantity</p>
							<p class="qnt-wrap sectls-qnt">
								<a href="#" class="qnt-minus sectls-minus">-</a>
								<input type="text" value="1">
								<a href="#" class="qnt-plus sectls-plus">+</a>
							</p>
						</div>
						<div class="sectls-total-wrap">
							<p>Total</p>
							<p class="sectls-total">$200</p>
						</div>
					</div>
					<div class="sectls-info">
						<div class="sectls-rating-wrap">
							<p class="sectls-rating">
								<i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
							</p>
							<p><span class="sectls-rating-count">89</span> reviews</p>
						</div>
						<p class="sectls-id">id 5376445</p>
						<p class="sectls-add">
							<a href="#">Add to cart</a>
						</p>
						<p class="sectls-favorites">
							<a href="#"></a>
						</p>
						<p class="sectls-compare">
							<a href="#"></a>
						</p>
					</div>
				</div>
				<div class="sectls">
					<a href="product.html" class="sectls-img">
						<img src="http://placehold.it/203x190" alt="">
					</a>
					<div class="sectls-cont">
						<div class="sectls-ttl-wrap">
							<p><a href="#">Helmets</a></p>
							<h3><a href="product.html">Quisque rutrum nunc eget nisl auctor</a></h3>
						</div>
						<div class="sectls-price-wrap">
							<p>Price</p>
							<p class="sectls-price">$200</p>
						</div>
						<div class="sectls-qnt-wrap">
							<p>Quantity</p>
							<p class="qnt-wrap sectls-qnt">
								<a href="#" class="qnt-minus sectls-minus">-</a>
								<input type="text" value="1">
								<a href="#" class="qnt-plus sectls-plus">+</a>
							</p>
						</div>
						<div class="sectls-total-wrap">
							<p>Total</p>
							<p class="sectls-total">$200</p>
						</div>
					</div>
					<div class="sectls-info">
						<div class="sectls-rating-wrap">
							<p class="sectls-rating">
								<i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
							</p>
							<p><span class="sectls-rating-count">89</span> reviews</p>
						</div>
						<p class="sectls-id">id 5376445</p>
						<p class="sectls-add">
							<a href="#">Add to cart</a>
						</p>
						<p class="sectls-favorites">
							<a href="#"></a>
						</p>
						<p class="sectls-compare">
							<a href="#"></a>
						</p>
					</div>
				</div>
				<div class="sectls">
					<a href="product.html" class="sectls-img">
						<img src="http://placehold.it/203x190" alt="">
					</a>
					<div class="sectls-cont">
						<div class="sectls-ttl-wrap">
							<p><a href="#">Helmets</a></p>
							<h3><a href="product.html">Quisque rutrum nunc eget nisl auctor</a></h3>
						</div>
						<div class="sectls-price-wrap">
							<p>Price</p>
							<p class="sectls-price">$200</p>
						</div>
						<div class="sectls-qnt-wrap">
							<p>Quantity</p>
							<p class="qnt-wrap sectls-qnt">
								<a href="#" class="qnt-minus sectls-minus">-</a>
								<input type="text" value="1">
								<a href="#" class="qnt-plus sectls-plus">+</a>
							</p>
						</div>
						<div class="sectls-total-wrap">
							<p>Total</p>
							<p class="sectls-total">$200</p>
						</div>
					</div>
					<div class="sectls-info">
						<div class="sectls-rating-wrap">
							<p class="sectls-rating">
								<i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
							</p>
							<p><span class="sectls-rating-count">89</span> reviews</p>
						</div>
						<p class="sectls-id">id 5376445</p>
						<p class="sectls-add">
							<a href="#">Add to cart</a>
						</p>
						<p class="sectls-favorites">
							<a href="#"></a>
						</p>
						<p class="sectls-compare">
							<a href="#"></a>
						</p>
					</div>
				</div>
				<div class="sectls">
					<a href="product.html" class="sectls-img">
						<img src="http://placehold.it/203x190" alt="">
					</a>
					<div class="sectls-cont">
						<div class="sectls-ttl-wrap">
							<p><a href="#">Helmets</a></p>
							<h3><a href="product.html">Quisque rutrum nunc eget nisl auctor</a></h3>
						</div>
						<div class="sectls-price-wrap">
							<p>Price</p>
							<p class="sectls-price">$200</p>
						</div>
						<div class="sectls-qnt-wrap">
							<p>Quantity</p>
							<p class="qnt-wrap sectls-qnt">
								<a href="#" class="qnt-minus sectls-minus">-</a>
								<input type="text" value="1">
								<a href="#" class="qnt-plus sectls-plus">+</a>
							</p>
						</div>
						<div class="sectls-total-wrap">
							<p>Total</p>
							<p class="sectls-total">$200</p>
						</div>
					</div>
					<div class="sectls-info">
						<div class="sectls-rating-wrap">
							<p class="sectls-rating">
								<i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
							</p>
							<p><span class="sectls-rating-count">89</span> reviews</p>
						</div>
						<p class="sectls-id">id 5376445</p>
						<p class="sectls-add">
							<a href="#">Add to cart</a>
						</p>
						<p class="sectls-favorites">
							<a href="#"></a>
						</p>
						<p class="sectls-compare">
							<a href="#"></a>
						</p>
					</div>
				</div>
				 
			</div>
			<!-- Catalog Items - end -->
			
			<!-- Pagination -->
			<ul class="pager">
				<li>
					<a href="#">1</a>
				</li>
				<li class="dots">
					<a href="#">...</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li class="active">
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li class="dots">
					<a href="#">...</a>
				</li>
				<li>
					<a href="#">12</a>
				</li>
			</ul>
			
			</div>
			
			 
			
			</main>
			<!-- Main Content - end -->

		<div th:replace="fragments/footer :: footer" ></div>		
	</body>
</html>