<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head th:replace="fragments/header :: header-css"/>	       
		</head>
	<body>		
		<div th:replace="fragments/header :: header" ></div>
			
			<div class="pagecont contacts" >
				<div class="contacts-form"  >
					 
						<font style = "text-align:center;" >
							<h3>
								<i class="fa fa-user"></i> Login
							</h3>
						</font> 
						<form th:action="@{/login}" method="post">	
							<input type="text" placeholder="username" name="username">
							<input type="password" placeholder="password" name="password">
							 
							<input type="submit" value="Login">
						</form>
					 
					
				</div>
			</div>
		
		
		<div th:replace="fragments/footer :: footer" ></div>		
	</body>
</html>